<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>login</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>loginadmin.jsp</welcome-file>
    <welcome-file>loginteacher.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servlet</display-name>
    <servlet-name>servlet</servlet-name>
    <servlet-class>login.servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginadminservlet</display-name>
    <servlet-name>Loginadminservlet</servlet-name>
    <servlet-class>oussama.Loginadminservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginadminservlet</servlet-name>
    <url-pattern>/Loginadminservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginteacherservlet</display-name>
    <servlet-name>Loginteacherservlet</servlet-name>
    <servlet-class>oussama.Loginteacherservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginteacherservlet</servlet-name>
    <url-pattern>/Loginteacherservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RTY</display-name>
    <servlet-name>RTY</servlet-name>
    <servlet-class>RTY</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RTY</servlet-name>
    <url-pattern>/RTY</url-pattern>
  </servlet-mapping>
</web-app>